<div class="container cities-list">
  <h2 class="h2 visually-hidden">Города России, представленные в виде списка</h2>
  <ul class="cities-list__list">
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
    <li class="cities-list__item">
      <app-city-card class="list"></app-city-card>
    </li>
  </ul>
</div>
