/**
  Block model normalization
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Remove left padding from list tags with a class attribute
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Remove margins from body and two other tags with a class attribute
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Remove vertical margins from specific tags with a class attribute
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Remove default list marker from unordered lists with a class attribute
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Reset vertical margins for paragraphs,
  declare local variable for bottom margin
  to avoid interaction with more complex selectors
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Bottom margin for paragraphs without a class attribute
  that are not the last among their sibling elements
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Simplify working with images
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Inherit font properties for input fields
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Useful in most situations
    (when, for example, you need to "stick" the footer to the bottom of the page)
   */
  height: 100%;
}

/**
  Smooth scrolling
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Useful in most situations
    (when, for example, you need to "stick" the footer to the bottom of the page)
   */
  min-height: 100%;
  /**
    Unified line height
   */
  line-height: 1.5;
}

/**
  Unify color for svg elements
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Fix color change delay when interacting with svg elements
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Remove all animations and transitions for people who prefer not to use them
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
